/* src/css/store.css */
.store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: var(--third-color);
    padding: 20px;
}

.store-header {
    color: var(--white);
    margin-bottom: 30px;
    text-align: center;
}

.product-card {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: var(--std-borderRadius);
    box-shadow: var(--btnshadow);
    color: var(--white);
}

.product-card h3 {
    font-size: 24px;
}

.product-card p {
    font-size: 18px;
    margin-top: 10px;
}
