/* src/css/user.css */
.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--third-color);
}

.user-header {
    color: var(--white);
    margin-bottom: 20px;
}

.user-store {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--std-borderRadius);
    box-shadow: var(--btnshadow);
    color: var(--white);
}
