/* src/css/user.css */
.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.user-store {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--std-borderRadius);
    box-shadow: var(--btnshadow);
    color: var(--white);
    max-width: 600px;
    width: 100%;
    text-align: center;
}
