/* Estilos de la página de usuario */
.user-section, .services-section, .stores-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid var(--font-color-light);
  border-radius: var(--std-borderRadius);
}

#profile-info {
  margin-bottom: 30px;
}

#company-list div {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--font-color-light);
  border-radius: var(--std-borderRadius);
}

.btn {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: var(--std-borderRadius);
}

.btn:hover {
  background-color: var(--primary-color-hover);
}
